@model Graduation.Models.Address
@{
    ViewData["Title"] = "Updateaddress";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>编辑收货地址</title>
    <link rel="stylesheet" href="~/css/base.css" type="text/css" />
    <link rel="stylesheet" href="~/css/shop_common.css" type="text/css" />
    <link rel="stylesheet" href="~/css/shop_header.css" type="text/css" />
    <link rel="stylesheet" href="~/css/shop_manager.css" type="text/css" />
    <link rel="stylesheet" href="~/css/shop_form.css" type="text/css" />
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/topNav.js"></script>
</head>
<body>
    <!-- Header -->
    <div class="shop_hd">
        <!-- Header TopNav -->
        <div class="shop_hd_topNav">
            <div class="shop_hd_topNav_all">
                <!-- Header TopNav Left -->
                @{var UserName = ViewData["UserName"];}
                @if (UserName == null)
                {
                    <div class="shop_hd_topNav_all_left">
                        <p>
                            您好，欢迎来到
                            <b>
                                <a asp-controller="Index" asp-action="Goodlist">牛牛购物</a>
                            </b>
                            [<a asp-controller="Login" asp-action="Loginin">登录</a>]
                            [<a asp-controller="Login" asp-action="Register">注册</a>]
                        </p>
                    </div>
                }
                else
                {
                    <div class="shop_hd_topNav_all_left">
                        <p>
                            @UserName，欢迎来到
                            <b>
                                <a asp-controller="Index" asp-action="Goodlist">牛牛购物</a>
                            </b>
                            [<a asp-controller="Login" asp-action="Loginout">注销</a>]
                        </p>
                    </div>
                }
                <!-- Header TopNav Left End -->
                <!-- Header TopNav Right -->
                <div class="shop_hd_topNav_all_right">
                    <ul class="topNav_quick_menu">

                        <li>
                            <div class="topNav_menu">
                                <a href="#" class="topNavHover">我的商城<i></i></a>
                                <div class="topNav_menu_bd" style="display:none;">
                                    <ul>
                                        <li><a title="订单信息" asp-controller="Order" asp-action="Orderbuylist">订单信息管理</a></li>
                                        <li><a title="个人主页" asp-controller="User" asp-action="Usermessage">个人主页</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="topNav_menu">
                                <a href="#" class="topNavHover">我的收藏<i></i></a>
                                <div class="topNav_menu_bd" style="display:none;">
                                    <ul>
                                        <li><a title="收藏的商品" asp-controller="User" asp-action="Userfavorite">收藏的商品</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="topNav_menu">
                                <a asp-controller="Order" asp-action="Shopcarlist">购物车</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- Header TopNav Right End -->
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- Header TopNav End -->
        <!-- TopHeader Center -->
        <div class="shop_hd_header">
            <div class="shop_hd_header_logo">
                <h1 class="logo"><a asp-controller="Index" asp-action="Goodlist"><img src="~/images/logo.png" alt="ShopCZ" /></a><span>ShopCZ</span></h1>
            </div>
            <div class="shop_hd_header_search">
            </div>
        </div>
        <!-- TopHeader Center End -->
        <!-- Header Menu -->
        <div class="shop_hd_menu">
            <!-- 所有商品菜单 -->

            <div id="shop_hd_menu_all_category" class="shop_hd_menu_all_category">
                <!-- 首页去掉 id="shop_hd_menu_all_category" 加上clsss shop_hd_menu_hover -->
                <div class="shop_hd_menu_all_category_title"><h2 title="所有商品分类"><a href="javascript:void(0);">所有商品分类</a></h2><i></i></div>
                <div id="shop_hd_menu_all_category_hd" class="shop_hd_menu_all_category_hd">
                </div>
            </div>
            <!-- 所有商品菜单 END -->
            <!-- 普通导航菜单 -->
            <ul class="shop_hd_menu_nav">
                <li class="current_link"><a asp-controller="Index" asp-action="Goodlist"><span>首页</span></a></li>
                <li class="link"><a asp-controller="Index" asp-action="Goodlist"><span>限时抢购</span></a></li>
                <li class="link"><a asp-controller="Index" asp-action="Goodlist"><span>品牌精选</span></a></li>
                <li class="link"><a asp-controller="Index" asp-action="Goodlist"><span>新品上市</span></a></li>
            </ul>
            <!-- 普通导航菜单 End -->
        </div>
        <!-- Header Menu End -->

    </div>
    <div class="clear"></div>
    <!-- Header End -->
    <div class="clear"></div>
    <!-- 面包屑 注意首页没有 -->
    <div class="shop_hd_breadcrumb">
        <strong>当前位置：</strong>
        <span>
            <a asp-controller="Index" asp-action="Goodlist">首页</a>&nbsp;›&nbsp;
            <a>我的商城</a>&nbsp;›&nbsp;
            <a>编辑收货地址</a>
        </span>
    </div>
    <div class="clear"></div>
    <!-- 面包屑 End -->
    <!-- Header End -->
    <!-- 我的个人中心 -->
    <div class="shop_member_bd clearfix">
        <!-- 左边导航 -->
        <div class="shop_member_bd_left clearfix">

            <div class="shop_member_bd_left_pic">
                <a href="javascript:void(0);"><img src="~/images/avatar.png" /></a>
            </div>
            <div class="clear"></div>

            <dl>
                <dt>我的交易</dt>
                <dd><span><a asp-controller="Order" asp-action="Orderbuylist">订单信息</a></span></dd>
                <dd><span><a asp-action="Userfavorite">我的收藏</a></span></dd>
                <dd><span><a asp-controller="Order" asp-action="Evaluatelist">评价管理</a></span></dd>
            </dl>

            <dl>
                <dt>我的账户</dt>
                <dd><span><a asp-action="Usermessage">个人资料</a></span></dd>
                <dd><span><a asp-action="Passwordupdate">密码修改</a></span></dd>
                <dd><span><a asp-action="Address">收货地址</a></span></dd>
            </dl>

        </div>
        <!-- 左边导航 End -->
        <!-- 右边购物列表 -->
        <div class="shop_member_bd_right clearfix">

            <div class="shop_meber_bd_good_lists clearfix">
                <div class="title"><h3>编辑收货地址</h3></div>
                <div class="clear"></div>
                <dic class="shop_home_form">
                    <form asp-action="UpdateAddress" class="shop_form" method="post">
                        <ul>
                            <li><input type="hidden" name="Keyid" value=@Model.KeyId /></li>
                            <li><label><span>*</span>收货人姓名：</label><input type="text" name="Name" class="form-text" value=@Model.Name /></li>
                            <li><label><span>*</span>所在地：</label><input type="text" name="Local" class="form-text" value=@Model.Local /></li>
                            <li><label><span>*</span>详细地址：</label><input type="text" name="Addres" class="form-text" value=@Model.Addres /></li>
                            <li><label>邮编：</label><input type="text" class="form-text" name="ZipCode" value=@Model.ZipCode /></li>
                            <li><label>电话：</label><input type="text" class="form-text" name="Phone" value=@Model.Phone /></li>
                            <li class="bn"><label>&nbsp;</label><input type="submit" class="form-submit" value="保存修改" /></li>
                        </ul>
                    </form>
                </dic>
            </div>
        </div>
    </div>
    <!-- 右边购物列表 End -->
    </div>
    <!-- 我的个人中心 End -->
    <!-- Footer  -->
    <div class="clear"></div>
    <div class="shop_footer">
        <div class="shop_footer_link">
            <p>
                <a href="">首页</a>|
                <a href="">招聘英才</a>|
                <a href="">广告合作</a>|
                <a href="">关于LXSH</a>|
                <a href="">关于我们</a>
            </p>
        </div>
        <div class="shop_footer_copy">
            <p>Copyright 2018-2080 itcast Inc.,All rights reserved.</p>
        </div>
    </div>
    <!-- Footer End -->
</body>
</html>

