@model List<Graduation.Models.Order>
@{
    ViewData["Title"] = "Allevaluate";
}

@{var UserName = ViewData["UserName"];}
<h2>评价列表</h2>
<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
<table class="table">
    <thead>
        <tr>
            <th><span>评价内容</span></th>
            <th><span>评价人</span></th>
            <th><span>宝贝信息</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td><span><a> @order.Evaluate </a></span></td>
            <td><strong>@UserName</strong></td>
            <td>
                <a>@order.Name</a>
                @{var zongjia = order.GoodNumber * order.Price;}
                <br />@zongjia 元
            </td>
            <td>
                <form asp-action="Deleteeva" method="post">
                    <input type="hidden" name="orderid" value="@order.OrderId" />
                    <input type="submit" value="删除">
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

